#editor {
    padding: 24px;;
}

#editor img {
    width: 100%;
}

#context-menu {
    display: none;
    position: absolute;
}

#context-menu #url, #file {
    display: none;
}

.link {
    color: blue;
    text-decoration: underline;
}